NEXT_PUBLIC_SUPABASE_URL=https://oaevwxmazshakpcapmmr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hZXZ3eG1henNoYWtwY2FwbW1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNTIyNDksImV4cCI6MjA5MDgyODI0OX0.EkSwqkcm-7wqJIqXHgImty2gRiTK0o5TdrF4pGcO_CY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hZXZ3eG1henNoYWtwY2FwbW1yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI1MjI0OSwiZXhwIjoyMDkwODI4MjQ5fQ.71G4lHnB2lfreT-QDgt0G8psCdPsfcJRl2vBCU_E35I
RESEND_API_KEY=re_A9kAXTn2_3azdN15h3SPhzXMg1rb9xue4
MAIL_SENDER_EMAIL=sublytics@primexmeta.com
MAIL_SENDER_NAME=Sublytics
SEED_ADMIN_EMAIL=admin@sublytics.com
SEED_ADMIN_PASSWORD=Admin@123456
